<html lang="en">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style type="text/css" rel="stylesheet">
      h2{{
        margin-bottom: 20px;
      }}
      #box{{
        border: 2.5px solid black;
        border-radius: 15px;
        margin: 10 10 10 10;
        padding: 10 10 10 10;
      }}
      .title{{
        color: gray;
        size: 5px;
      }}
    </style>
  </head>
  <body>
    <div id="box">
      <p class="title">Post #{number} By {name} (Alias)</p>
      <h1>{comment}</h1>
      <p class="title">(Score {score}) <a href="{url}&upvote={number}">+</a> / <a style="color:red;" href="{url}&downvote={number}">-</a></p>
    </div>
  </body>
</html>
