<html lang="en">
  <head>
    <title>User Info</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
  <style>
    div{{
      margin-left: auto;
      margin-right: auto;
      border: 2.5px solid #659DBD;
      border-radius: 15px;
      width: 25%;
      padding: 20px;
    }}
    .title{{
      size: 135px;
      text-align: center;
    }}
    .specific{{
      text-decoration: underline;

    }}
  </style>
  <body>
    <div>
      <center><h2>Your Info:</h2></center>
      <p class="title"><b>Name:     </b>      <span class="specific">{name}</p></span>
      <p class="title"><b>Posts:    </b>      <span class="specific">{posts}</p></span>
      <p class="title"><b>Comments: </b>      <span class="specific">{comments}</p></span>
      <p class="title"><b>Upvotes:  </b>      <span class="specific">{upvotes}</p></span>
      <p class="title"><b>Downvotes:</b>      <span class="specific">{downvotes}</p></span>
      <center><a href="signup?delete={name}" class="btn btn-danger">Delete User</a></center>
      <br>
      <p class="title">Make sure only you know your name....</p>
      <br>
      <p class="title"><b>Posts:</b></p>
      <center>
      {forums}
      </center>
      <br>
      <center><a href="post?user={name}" class="btn btn-danger">Create a Post</a></center>
    </div>
  </body>
</html>
